@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<div class="home">
    <div class="home-header"></div>
    <div class="home-info">
        <div class="home-info-top">
            <h1 class="home-info-title">Movies</h1>
            <a class="btn" asp-controller="Movie" asp-action="Create">Add new</a>
        </div>
        <div class="home-info-body">
            <div class="cart" onclick="openUrl('movies')">
                <div class="cart-top">
                    <h3 class="cart-title">Movies</h3>
                    <div class="cart-icon-container">
                        <i class="fa-solid fa-film cart-icon"></i>
                    </div>
                </div>
                <div class="cart-value">@ViewBag.MovieCount</div>
                <div class="cart-subvalue">@ViewBag.MovieCount are on going</div>
            </div>
            <div class="cart" onclick="openUrl('screenings')">
                <div class="cart-top">
                    <h3 class="cart-title">Screenings</h3>
                    <div class="cart-icon-container">
                        <i class="fa-solid fa-calendar-days cart-icon"></i>
                    </div>
                </div>
                <div class="cart-value">@ViewBag.ScreeningCount</div>
                <div class="cart-subvalue">@ViewBag.ScreeningFuture are available</div>
            </div>
            <div class="cart" onclick="openUrl('invoices')">
                <div class="cart-top">
                    <h3 class="cart-title">Invoices</h3>
                    <div class="cart-icon-container">
                        <i class="fa-solid fa-ticket cart-icon"></i>
                    </div>
                </div>
                <div class="cart-value">@ViewBag.InvoiceCount</div>
                <div class="cart-subvalue">@ViewBag.InvoiceTotalPrice đ earned</div>
            </div>
            <div class="cart" onclick="openUrl('users?roleId=2')">
                <div class="cart-top">
                    <h3 class="cart-title">Users</h3>
                    <div class="cart-icon-container">
                        <i class="fa-solid fa-users cart-icon"></i>
                    </div>
                </div>
                <div class="cart-value">@ViewBag.UserCount</div>
                <div class="cart-subvalue">@ViewBag.UserCustomerCount customers</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/home/index.js" asp-append-version="true"></script>
}