<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tune Cinema</title>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- End favicon -->
    <link rel="stylesheet" href="~/fonts/stylesheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="sidebar" id="sidebar">
        <a class="brand" asp-controller="Home" asp-action="Index">Admin Site</a>
        <ul class="navbar-nav">
            <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "home" ? "nav-item__active" : "")">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-house nav-icon"></i>
                    Dashboard
                </a>
            </li>

            <!-- Movie -->
            <li class="nav-item collapsible">
                <button class="nav-link dropdown-btn">
                    <i class="fa-solid fa-film nav-icon"></i>
                    Manage movie
                </button>
                <ul class="nav @(Convert.ToString(ViewData["BarActive"]) == "movie" ||
                    Convert.ToString(ViewData["BarActive"]) == "category"
                ? "nav-show" : "")">
                    <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "movie" ? "nav-item__active" : "")">
                        <a class="nav-link" asp-controller="Movie" asp-action="Index">Movies</a>
                    </li>
                    <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "category" ? "nav-item__active" : "")">
                        <a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a>
                    </li>
                </ul>
            </li>

            <!-- Cinema -->
            <li class="nav-item collapsible">
                <button class="nav-link dropdown-btn">
                    <i class="fa-solid fa-map-location-dot nav-icon"></i>
                    Manage cinema
                </button>
                <ul class="nav @(Convert.ToString(ViewData["BarActive"]) == "cinema" ||
                    Convert.ToString(ViewData["BarActive"]) == "auditorium"
                ? "nav-show" : "")">
                    <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "cinema" ? "nav-item__active" : "")">
                        <a class="nav-link" asp-controller="Cinema" asp-action="Index">Cinemas</a>
                    </li>
                    <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "auditorium" ? "nav-item__active" : "")">
                        <a class="nav-link" asp-controller="Auditorium" asp-action="Index">Auditoriums</a>
                    </li>
                </ul>
            </li>

            <!-- Showtime -->
            <li class="nav-item collapsible">
                <button class="nav-link dropdown-btn">
                    <i class="fa-solid fa-receipt nav-icon"></i>
                    Manage showtime
                </button>
                <ul class="nav @(Convert.ToString(ViewData["BarActive"]) == "screening" ? "nav-show" : "")">
                    <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "screening" ? "nav-item__active" : "")">
                        <a class="nav-link" asp-controller="Screening" asp-action="Index">Showtimes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!">Schedule</a>
                    </li>
                </ul>
            </li>

            <!-- Statistic -->
            <li class="nav-item collapsible">
                <button class="nav-link dropdown-btn">
                    <i class="fa-solid fa-chart-bar nav-icon"></i>
                    Statistic
                </button>
                <ul class="nav @(Convert.ToString(ViewData["BarActive"]) == "invoice" ? "nav-show" : "")">
                    <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "invoice" ? "nav-item__active" : "")">
                        <a class="nav-link" asp-controller="Invoice" asp-action="Index">Invoices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!">Products</a>
                    </li>
                </ul>
            </li>

            <!-- Product -->
            <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "product" ? "nav-item__active" : "")">
                <a class="nav-link" asp-controller="ProductCombo" asp-action="Index">
                    <i class="fa-solid fa-glass-water nav-icon"></i>
                    Product
                </a>
            </li>

            <!-- User -->
            <li class="nav-item collapsible">
                <button class="nav-link dropdown-btn">
                    <i class="fa-solid fa-users nav-icon"></i>
                    User
                </button>
                <ul class="nav @(Convert.ToString(ViewData["BarActive"]) == "user" ? "nav-show" : "")">
                    <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "user" && Convert.ToInt32(ViewData["RoleId"]) == 2 ? "nav-item__active" : "")">
                        <a class="nav-link" asp-controller="User" asp-action="Index" asp-route-roleId="2">Custommer</a>
                    </li>
                    <li class="nav-item @(Convert.ToString(ViewData["BarActive"]) == "user" && Convert.ToInt32(ViewData["RoleId"]) == 1 ? "nav-item__active" : "")">
                        <a class="nav-link" asp-controller="User" asp-action="Index" asp-route-roleId="1">Admin</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="page-content" id="page-content">
        <section class="header sticky">
            <div class="header-left">
                <button type="button" class="header-nav-toggle" id="header-nav-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </button>
                <form action="" class="header-form-search">
                    <input type="text" placeholder="Search" class="header-form-search-input">
                    <button type="submit" class="header-form-search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>

            <div class="header-right">
                <div class="header-avatar" id="user-dropdown">
                    <img src="https://firebasestorage.googleapis.com/v0/b/tune-cinema.appspot.com/o/avatar%20default.png?alt=media&token=2cee5a13-a176-4032-bbca-f060f24e424d" class="header-avatar-img" alt="">
                </div>
            </div>

            <div class="user-menu" id="user-menu-content">
                <a class="user-infor" asp-controller="Account" asp-action="Profile">
                    <span class="user-name">@User.Identity?.Name</span>
                    <span class="user-role">Admin</span>
                </a>

                <div class="dropdown-divider"></div>

                <ul class="user-nav">
                    <li class="user-nav-item">
                        <a class="user-nav-link" asp-controller="Account" asp-action="Profile">
                            <i class="fa-solid fa-cog user-nav-icon"></i>
                            Edit profile
                        </a>
                    </li>
                    <li class="user-nav-item">
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button class="user-nav-btn user-nav-link">
                                <i class="fa-solid fa-sign-out user-nav-icon"></i>
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </section>
        <main class="main" id="main-content">
            @RenderBody()
                @{
                    if (TempData["Error"] != null)
                    {
                        <div id="errorAlert" class="alert-row alert-dialog">
                            <div class="alert alert-danger">
                                <p>@TempData["Error"]</p>
                                <button class="alert-dialog-close" onclick="closeAlertDialog(this)"><i class="fa-solid fa-xmark"></i></button>
                            </div>
                            <script>
                                // Call the function to display the alert dialog when the page loads
                                window.onload = function () {
                                    showAlertDialog(document.getElementById('errorAlert'));
                                };
                            </script>
                        </div>
                    }

                    if (TempData["Success"] != null)
                    {
                        <div id="successAlert" class="alert-row alert-dialog">
                            <div class="alert alert-success">
                                <p>@TempData["Success"]</p>
                                <button class="alert-dialog-close" onclick="closeAlertDialog(this)"><i class="fa-solid fa-xmark"></i></button>
                            </div>
                            <script>
                                // Call the function to display the alert dialog when the page loads
                                window.onload = function () {
                                    showAlertDialog(document.getElementById('successAlert'));
                                };
                            </script>
                        </div>
                    }
                }
        </main>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
