@using CinemaSolution.ViewModels.Common.Paging;
@using CinemaSolution.ViewModels.Cinema;

@model PagedResult<CinemaViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cinemas";
}

<nav class="breadcrumb">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home">Home</a>
        </li>
        <li class="breadcrumb-item">
            Cinemas
        </li>
    </ol>
</nav>

<div class="filter-block">
    <div class="dropdown">
        <div class="select">
            @if (ViewBag.ProvinceId == null)
            {
                <span class="selected" data-id="-1">Select province</span>
            }
            else
            {
                <span class="selected" data-id="@ViewBag.ProvinceId">@ViewBag.ProvinceName</span>
            }
            <i class="fa fa-chevron-left select-icon"></i>
        </div>
        <ul class="dropdown-content dropdown-content-show">
            <a asp-action="Index">
                <li class="dropdown-item" data-id="-1" data-value="Select province">All</li>
            </a>
            @foreach (var item in ViewBag.Provinces)
            {
                <a asp-action="Index" asp-route-provinceId="@item.Id">
                    <li class="dropdown-item" data-id="@item.Id" data-value="@item.Name">@item.Name</li>
                </a>
            }
        </ul>
    </div>

    <form asp-action="Index" class="form-search" method="get">
        <input type="text" name="pageindex" value="@ViewBag.PageIndex" hidden>
        <input type="text" name="pagesize" value="@ViewBag.PageSize" hidden>
        <input type="text" name="provinceId" value="@ViewBag.ProvinceId" hidden>
        <input type="text" name="keyword" value="@ViewBag.Keyword" placeholder="Search" class="form-search-input">
        <button type="submit" class="form-search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>

<div class="table-block">
    <div class="table-header">
        <h3 class="table-title">All cinemas</h3>
        <a class="btn success-btn load-target" asp-action="Create">Create new</a>
    </div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Province</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Province.Name</td>
                    <td>@item.Address</td>
                    <td class="table-actions-flex">
                        <a class="btn-edit table-btn load-target" asp-route-id="@item.Id" asp-action="Update">
                            <i class="fa-solid fa-pen-to-square table-btn-icon"></i>
                        </a>
                        <button class="btn-delete table-btn" onclick="showModelCinemaDelete(@item.Id)">
                            <i class="fa-solid fa-trash table-btn-icon"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Component.InvokeAsync("Pager", Model)
</div>

<div id="modal-dialog-cinema--delete" class="modal-dialog">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form id="modal-dialog-cinema--form-action" action="#!" method="post">
            <div class="modal-header">
                <h2 class="modal-title">Comfirm delete</h2>
            </div>
            <div id="modal-dialog-cinema--id" class="modal-body">
                <p>Comfirm delete this cinema</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn">Cancel</button>
                <button type="submit" class="btn update-btn">Oke</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/cinema/index.js" asp-append-version="true"></script>
}