@using CinemaSolution.ViewModels.Common.Paging;
@using CinemaSolution.ViewModels.Screening;

@model PagedResult<ScreeningViewModel>;

@{
    ViewData["Title"] = "Screenings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/screening/index.css" asp-append-version="true" />
}

<nav class="breadcrumb">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home">Home</a>
        </li>
        <li class="breadcrumb-item">
            Screenings
        </li>
    </ol>
</nav>

<div class="filter-block">
    <div class="dropdown" style="width: 200px">
        <div class="select">
            @if (ViewBag.Status == null)
            {
                <span class="selected" data-id="-1">Status of screening</span>
            }
            else
            {
                <span class="selected" data-id="@ViewBag.Status">@ViewBag.Status</span>
            }
            <i class="fa fa-chevron-left select-icon"></i>
        </div>
        <ul class="dropdown-content dropdown-content-show">
            <li class="dropdown-item" data-id="0" data-value="Status of screening">Status of screening</li>
            <a asp-action="Index" asp-route-status="@ScreeningStatus.Future">
                <li class="dropdown-item" data-id="Future" data-value="Future">Future</li>
            </a>
            <a asp-action="Index" asp-route-status="@ScreeningStatus.Going">
                <li class="dropdown-item" data-id="Going" data-value="Going">Going</li>
            </a>
            <a asp-action="Index" asp-route-status="@ScreeningStatus.Expried">
                <li class="dropdown-item" data-id="Expried" data-value="Expried">Expried</li>
            </a>
        </ul>
    </div>

    <div class="actions">
        <a class="btn detail-btn" asp-controller="Screening" asp-action="Index">Get all</a>
    </div>
</div>

<div class="table-block">
    <div class="table-header">
        <h3 class="table-title">All screenings</h3>
        @if (ViewBag.AuditoriumId != null) {
            <a class="btn success-btn load-target" asp-action="Create" asp-route-auditoriumId="@ViewBag.AuditoriumId">Create new</a>
        } else {
            <button class="btn detail-btn load-target" onclick="showModalScreeningSearch()">Search by auditorium</button>
        }
    </div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Movie name</th>
                <th>Cinema</th>
                <th>Auditorium</th>
                <th>Start date</th>
                <th>Start time</th>
                <th>Duration</th>
                <th>Seats available</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr style="background-color: @(item.Status == ScreeningStatus.Expried ? "#ffcccc" : (item.Status == ScreeningStatus.Going) ? "#ffcc99" : "#ccffcc")">
                    <td>@item.Id</td>
                    <td>@item.Movie.Title</td>
                    <td>@item.Auditorium.Cinema.Name</td>
                    <td>@item.Auditorium.Name</td>
                    <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.StartTime</td>
                    <td>@item.Movie.Duration</td>
                    <td>@item.SeatsAvailable / @item.SeatsTotal</td>
                    <td class="table-actions-flex">
                        <a class="btn-edit table-btn load-target" asp-route-id="@item.Id" asp-action="Update">
                            <i class="fa-solid fa-pen-to-square table-btn-icon"></i>
                        </a>
                        <button class="btn-delete table-btn" onclick="showModalScreeningDelete(@item.Id)">
                            <i class="fa-solid fa-trash table-btn-icon"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Component.InvokeAsync("Pager", Model)
</div>

<div id="modal-dialog-screening--delete" class="modal-dialog">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form id="modal-dialog-screening--form-action" action="#!" method="post">
            <div class="modal-header">
                <h2 class="modal-title">Comfirm delete</h2>
            </div>
            <div id="modal-dialog-screening--id" class="modal-body">
                <p>Comfirm delete this screening</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn">Cancel</button>
                <button type="submit" class="btn update-btn">Oke</button>
            </div>
        </form>
    </div>
</div>

<div id="modal-dialog-screening-search" class="modal-dialog">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form action="#!" method="get">
            <div class="modal-header">
                <h2 class="modal-title">Search by auditorium</h2>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <div class="select">
                        <span class="selected" data-id="-1">Province</span>
                        <i class="fa fa-chevron-left select-icon"></i>
                    </div>
                    <ul class="dropdown-content dropdown-content-show">
                        @foreach (var item in ViewBag.Provinces)
                        {
                            <li class="dropdown-item" data-id="@item.Id" data-value="@item.Name">@item.Name</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn" onclick="fetchAllAuditoriums()">Fetch</button>
                <button type="button" class="btn cancel-btn">Cancel</button>
                <button type="submit" class="btn update-btn">Search</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        // Show model for delete Screening
        function showModalScreeningDelete(screeningId) {
            var modalDialogScreeningId = document.getElementById('modal-dialog-screening--id');
            modalDialogScreeningId.innerHTML = "Comfirm delete " + screeningId + "?";
            var modalDialogScreeningFormAction = document.getElementById('modal-dialog-screening--form-action');
            modalDialogScreeningFormAction.action = `/screenings/${screeningId}/delete`;
            var modalDialogScreeningDelete = document.getElementById('modal-dialog-screening--delete');
            modalDialogScreeningDelete.classList.add('modal-dialog--active');
        }

        function showModalScreeningSearch() {
            var modalDialogScreeningSearch = document.getElementById('modal-dialog-screening-search');
            modalDialogScreeningSearch.classList.add('modal-dialog--active');
        }

        function fetchAllAuditoriums() {
            var provinceId = document.querySelector('.dropdown .selected').getAttribute('data-id');
            var url = `/auditoriums/getAllAuditoriums?provinceId=${provinceId}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                });
        }
    </script>
}